.setConversionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.input {
  margin: 5px;
  height: 5vh;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--inputColor);
  font-family: "Titillium Web", sans-serif;
  font-size: 27px;
  color: var(--inputColor);
  text-align: center;
}

.cash {
  width: 7vw;
}

.setButton {
  background-color: transparent;
  border: 1px solid var(--lighterColor);
  width: 10vw;
  height: 7vh;
  font-family: "Titillium Web", sans-serif;
  color: var(--lighterColor);
  letter-spacing: 5px;
  font-size: 20px;
  margin: 10px;
  box-shadow: 3px 3px 3px 3px var(--shadowColor);
  cursor: pointer;
  transition: 0.2s;
}

.setButton:hover {
  color: var(--darkerColor);
  background-color: var(--lighterColor);
  border: 1px solid var(--darkerColor);
}
