.list {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  text-align: center;
  font-size: 30px;
  height: 45vh;
  width: 90%;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
  background: var(--lighterColor);
}

.list::-webkit-scrollbar-corner {
  background: transparent;
}

.transactions {
  margin: 5px;
}

.deleteButton {
  background-color: transparent;
  border: 1px solid var(--lighterColor);
  width: 10vw;
  height: 7vh;
  font-family: "Titillium Web", sans-serif;
  color: var(--lighterColor);
  letter-spacing: 5px;
  font-size: 20px;
  margin: 10px;
  box-shadow: 3px 3px 3px 3px var(--shadowColor);
  cursor: pointer;
  transition: 0.2s;
}

.deleteButton:hover {
  color: var(--darkerColor);
  background-color: var(--lighterColor);
  border: 1px solid var(--darkerColor);
}

.numberOnList {
  font-size: 33px;
  color: var(--inputColor);
  font-weight: bold;
  margin: 5px;
}
